In [7]:
from sklearn.datasets import load_iris
iris = load_iris()
#import the iris dataset

In [8]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [9]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [16]:
import pandas as pd
x= pd.DataFrame(data = iris.data, columns = iris.feature_names)
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [14]:
y = pd.DataFrame(data=iris.target, columns = ['irisType'])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

In [19]:
import pandas as pd
data = pd.DataFrame({
      'SepalLength': iris.data[:,0],
      'sepalWidth' : iris.data[:,1],
      'pedalLength' : iris.data[:,2],
      'petalWidth' : iris.data[:,3],
      'Species' : iris.target
})

data.head

2    50
1    50
0    50
Name: Species, dtype: int64

In [21]:
IrisFromUCI = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)

In [22]:
IrisFromUCI.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [24]:
IrisFromUCI.columns = {'SepalLength', 'SepalWidth', 'pedalLength', 'PedalWidth', 'species'}
IrisFromUCI.head()

   pedalLength  SepalLength  species  SepalWidth   PedalWidth
0          5.1          3.5      1.4         0.2  Iris-setosa
1          4.9          3.0      1.4         0.2  Iris-setosa
2          4.7          3.2      1.3         0.2  Iris-setosa
3          4.6          3.1      1.5         0.2  Iris-setosa
4          5.0          3.6      1.4         0.2  Iris-setosa

In [ ]:
IrisFromUCI.to_csv('IrisFromUCI.csv')